header {
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  background-color: #d66f00;
  display: flex;
  justify-content: bottom;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 50px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  header {
    height: 400px;
    padding-top: 1em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    height: 520px;
    padding-top: 140px;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    margin-top: 15%;
    margin-left: 15%;
    width: 25%;
    float: left;
    justify-content: center;
    padding: 0.5em;
    position: fixed;
  }
}