nav {
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  height: 120px;
  width: 100%;
  margin: 0;
}

.compose-tweet {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

#compose-button {
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#compose-button:hover + .fa-angles-down {
  animation: ease-up-down 2s infinite;
}

@keyframes ease-up-down {
  0% {
    transform: translate(0px, 10px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 10px);
  }
}

@media only screen and (max-width: 768px) {
  nav {
    padding: 0.5em;
    position: absolute;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    background-color: #4056A1;
    padding: 1.5em;
    position: fixed;
  }
}